doctype 5
html
    head
        title= Unity MMORogue
        link(rel="stylesheet", type="text/css" href="unity.css")
        script(type="text/javascript", src="http://code.jquery.com/jquery.min.js")

    body
		div#login
        	div#floater
        	div#content
            	p(style="text-align:center")Welcome to UnityRL!
                if !(typeof player === "undefined")
                	| Please login:
                    form(name="login", action="/login", method="POST")
                        input(type="text" id="name")
                        input(type="password", id="pass")
                        input(type="submit", value"Login!")
                else
                    a(href="/play") Start playing!
