body {
    background-color:#000000;
}

#map { 
    font-family:"Courier New",monospace;
    font-size: .8em;
    width:1000px;
    height:75%;
    background-color:#000000;
    color:#FFFFFF;
}

#login {
    display: none;
	font-family:"Courier New",monospace;
    font-size:1.5em;
    width:1000px;
    height:75%;
    background-color:#000000;
    color:#FFFFFF;
	position: absolute;
	left: 0;
	top: 0;
}

#messages {
    display: none;
	margin: 2px;
	width:33%;
    height: 25%;
    border: 1px solid grey;
    color: #FFFFFF;
}

#level {
	color: #FFFFFF;
    overflow: auto;
    font-size:.75em;
	height: 80%;
}

#floater    {
    float:left; 
    height:50%; 
    margin-bottom:-20px;
}

#content	{
    clear:both; 
    height:240px; 
    position:relative;
}

.visible {
	color: white;
}

.remembered {
	color: #ABABAB;
}
