doctype 5
html
    head
        title Unity MMORogue
        link(rel="stylesheet", type="text/css", href="unity.css")
        script(type="text/javascript", src="http://code.jquery.com/jquery.min.js")

    body
        div#login
            div#floater
            div#content
                p Create a new UnityRL character.
                form(name="new", action="/new", method="POST")
                    p Username: 
                        input(type="text", name="name", id="name")
                    p Password: 
                        input(type="password", name="pass", id="pass")
                    input(type="submit", value"Login!")
