body {
    background-color:#000000;
}

#map { 
    font-family:		"Courier New",monospace;
    font-size: 			.8em;
    width:				642px;
    height:				642px;
    background-color:	#000000;
    color:				#FFFFFF;
}
#info {
	font-family:		"Courier New",monospace;
    font-size: 			.8em;
    width: 				200px;
    height: 			321px;
    border: 			1px solid gray;
    background-color:	#000000;
    color:				#FFFFFF;
	position:			absolute;
	top:				1px;
	left:				643px;
}

#login {
	font-family:		"Courier New",monospace;
    font-size:			.75em;
    width:				1000px;
    height:				25%;
    background-color:	#000000;
    color:				white;
}

#greeting {
    font-family:        "Courier New",monospace;
    font-size:          2.5em;
    background-color:   #000000;
    color:              white;
    text-align:         center;
}

#messages {
	margin: 			2px;
	width:				33%;
    height: 			25%;
    border: 			1px solid gray;
    color: 				#FFFFFF;
}

#level {
	color: 				#FFFFFF;
    overflow: 			auto;
    font-size:			.75em;
	height: 			80%;
}

#floater    {
    float:				left; 
    height:				50%; 
    margin-bottom:		-20px;
}

#content	{
    clear:				both; 
    height:				240px; 
    position:			relative;
    text-align:         center;
}

.tile {
	display: 			inline-block;
	width: 				15px;
	height: 			15px;
	background-color:	white;
	border: 			solid 1px white;
	font-size: 			.9em;
	color:				black;
	position:			absolute;
	text-align:			center;
}

.visible.floor, .visible.upstair, .visible.downstair {
	background-color: 	#E6E6E6;
}

.visible.wall {
	background-color:	#666666;
}

.remembered.floor, .remembered.upstair, .remembered.downstair {
	background-color:	#B2B2B2;
}

.remembered.wall {
	background-color:	#333333;
}

.clicked {
	border: 1px solid green;
}